button {
    padding: 3px 25px;
    border-radius: 2em / 5em;
    background: #6495ED;
    color: white;
    line-height: 1.5;
}
button:hover {
    background: 	lightgrey;
    border: 1px solid white;
    color: black;